<%= form_with(model: catergory, local: true) do |form| %>
  <% if catergory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(catergory.errors.count, "error") %> prohibited this catergory from being saved:</h2>

      <ul>
      <% catergory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :catergory_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
