<p id="notice"><%= notice %></p>

<h1>Catergories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catergories.each do |catergory| %>
      <tr>
        <td><%= catergory.name %></td>
        <td><%= link_to 'Show', catergory %></td>
        <td><%= link_to 'Edit', edit_catergory_path(catergory) %></td>
        <td><%= link_to 'Destroy', catergory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Catergory', new_catergory_path %>
